.pytest_cache/
.mypy_cache/
__pycache__/
*.py[cod]

data/*
!data/customer_purchase_data.csv
!data/docs/
!data/docs/*.txt
!data/pictures/
!data/pictures/.gitkeep
!data/runs/
!data/runs/.gitkeep
!data/evals/
!data/evals/.gitkeep
.env
.venv
.idea/
data/docs/
data/runs/
data/evals/